html {
    font-size: 35px;
    background: #98BCF4;
}

body {
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 25px;
    position: relative;
}

.score {
    padding: 0px;
    color: #000;
    margin-left: 10px;
}

.game {
    width: 600px;
    height: 400px;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
    
}

.hole{
    flex: 1 0 33.33%;
    overflow: hidden;
    position: relative;
}

.hole:after{
    display:block;
    background: url('./assets/dirt.png') bottom center no-repeat;
    background-size:contain;
    content: '';
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 2;
    bottom: -30px;
}

.mole {
    background: url('./assets/mole.png') bottom center no-repeat;
    background-size: 80%;
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.4s;
}

.hole.up .mole{
    top:0;
}

.StartButton{
    width: 160px;
    font-size: 30px;
    height: 50px;
    color: #fff;
    background-color: blue;
    border-radius: 31px;
    margin-left: 20px;
    margin-top: 16px;
    margin-right:50px;
    border: none;
    outline: none;
}

.StartButton:hover{
    cursor: pointer;
}

#winPopup, #losePopup{
    width: 400px;
    height:400px;
    background: white;
    text-align: center;
    color: #35bd35;
    display: block;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding-top: 4em;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border: 1px solid;
    box-shadow: 0px 0px 20px 0px #555;
    display: none;
}


#losePopup{
    color: #ff5353;
}

#clock{
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 24%;
    font-size: 25px;
    right: 28%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.PopupButton{
    cursor: pointer;
    outline: none;
    display: block;
    margin: 0 auto;
    border: none;
    font-size: 0.7em;
    background: blue;
    color: white;
    padding: 0.2em 1.2em;
    margin-top: 0.5em;
    border-radius: 30px;
}
